DATA
Github: https://github.com/CharSiu8/Datasets_for_Portfolio/blob/041e4e9026b89fefd774e9365c030b27350f4250/customer_train.csv

Drive:
https://drive.google.com/file/d/1v48Lu_M6-GAxH8dXPRIlVnzU24Esexg-/view?usp=drive_link

![Two data scientists working on a dashboard.](hr-image-small.png)

A common problem when creating models to generate business value from data is that the datasets can be so large that it can take days for the model to generate predictions. Ensuring that your dataset is stored as efficiently as possible is crucial for allowing these models to run on a more reasonable timescale without having to reduce the size of the dataset.

You've been hired by a major online data science training provider called *Training Data Ltd.* to clean up one of their largest customer datasets. This dataset will eventually be used to predict whether their students are looking for a new job or not, information that they will then use to direct them to prospective recruiters.

You've been given access to `customer_train.csv`, which is a subset of their entire customer dataset, so you can create a proof-of-concept of a much more efficient storage solution. The dataset contains anonymized student information, and whether they were looking for a new job or not during training:

| Column                   | Description                                                                      |
|------------------------- |--------------------------------------------------------------------------------- |
| `student_id`             | A unique ID for each student.                                                    |
| `city`                   | A code for the city the student lives in.                                        |
| `city_development_index` | A scaled development index for the city.                                         |
| `gender`                 | The student's gender.                                                            |
| `relevant_experience`    | An indicator of the student's work relevant experience.                          |
| `enrolled_university`    | The type of university course enrolled in (if any).                              |
| `education_level`        | The student's education level.                                                   |
| `major_discipline`       | The educational discipline of the student.                                       |
| `experience`             | The student's total work experience (in years).                                  |
| `company_size`           | The number of employees at the student's current employer.                       |
| `company_type`           | The type of company employing the student.                                       |
| `last_new_job`           | The number of years between the student's current and previous jobs.             |
| `training_hours`         | The number of hours of training completed.                                       |
| `job_change`             | An indicator of whether the student is looking for a new job (`1`) or not (`0`). |

In [ ]:
# Import necessary libraries
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Load the dataset
ds_jobs = pd.read_csv("/content/drive/MyDrive/Polino Technical Portfolio/Data Science/DATASETS FOR VIEWERS/customer_train.csv")

# View the dataset
ds_jobs.head()

,student_id,city,city_development_index,gender,relevant_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,job_change
0,8949,city_103,0.920,Male,Has relevant experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36,1.0
1,29725,city_40,0.776,Male,No relevant experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0.0
2,11561,city_21,0.624,NaN,No relevant experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83,0.0
3,33241,city_115,0.789,NaN,No relevant experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52,1.0
4,666,city_162,0.767,Male,Has relevant experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8,0.0

In [ ]:
# Create a copy of ds_jobs for transforming
ds_jobs_transformed = ds_jobs.copy()
ds_jobs_transformed.head()

# Start coding here. Use as many cells as you like!

,student_id,city,city_development_index,gender,relevant_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,job_change
0,8949,city_103,0.920,Male,Has relevant experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36,1.0
1,29725,city_40,0.776,Male,No relevant experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0.0
2,11561,city_21,0.624,NaN,No relevant experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83,0.0
3,33241,city_115,0.789,NaN,No relevant experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52,1.0
4,666,city_162,0.767,Male,Has relevant experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8,0.0

In [ ]:
# Assignment one
# Columns containing categories with only two factors must be stored as Booleans

ds_jobs_transformed[['relevant_experience', 'job_change']] = ds_jobs_transformed[['relevant_experience', 'job_change']].astype(bool)

# Calling info to verify
ds_jobs_transformed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   student_id              19158 non-null  int64
 1   city                    19158 non-null  object
 2   city_development_index  19158 non-null  float64
 3   gender                  14650 non-null  object
 4   relevant_experience     19158 non-null  bool
 5   enrolled_university     18772 non-null  object
 6   education_level         18698 non-null  object
 7   major_discipline        16345 non-null  object
 8   experience              19093 non-null  object
 9   company_size            13220 non-null  object
 10  company_type            13018 non-null  object
 11  last_new_job            18735 non-null  object
 12  training_hours          19158 non-null  int64
 13  job_change              19158 non-null  bool
dtypes: bool(2), float64(1), int64(2), object(9)
memory usage: 1.8+ MB

In [ ]:
# Assignment two
# Application cell
ds_jobs_transformed[['student_id', 'training_hours']] = ds_jobs_transformed[['student_id', 'training_hours']].astype('int32')
ds_jobs_transformed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   student_id              19158 non-null  int32
 1   city                    19158 non-null  object
 2   city_development_index  19158 non-null  float64
 3   gender                  14650 non-null  object
 4   relevant_experience     19158 non-null  bool
 5   enrolled_university     18772 non-null  object
 6   education_level         18698 non-null  object
 7   major_discipline        16345 non-null  object
 8   experience              19093 non-null  object
 9   company_size            13220 non-null  object
 10  company_type            13018 non-null  object
 11  last_new_job            18735 non-null  object
 12  training_hours          19158 non-null  int32
 13  job_change              19158 non-null  bool
dtypes: bool(2), float64(1), int32(2), object(9)
memory usage: 1.6+ MB

In [ ]:
# Assignment 3
# Columns containing floats must be stored as 16-bit floats (float16).
# Relevant columns are; city_development_index

ds_jobs_transformed['city_development_index'] = ds_jobs_transformed['city_development_index'].astype('float16')

ds_jobs_transformed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   student_id              19158 non-null  int32
 1   city                    19158 non-null  object
 2   city_development_index  19158 non-null  float16
 3   gender                  14650 non-null  object
 4   relevant_experience     19158 non-null  bool
 5   enrolled_university     18772 non-null  object
 6   education_level         18698 non-null  object
 7   major_discipline        16345 non-null  object
 8   experience              19093 non-null  object
 9   company_size            13220 non-null  object
 10  company_type            13018 non-null  object
 11  last_new_job            18735 non-null  object
 12  training_hours          19158 non-null  int32
 13  job_change              19158 non-null  bool
dtypes: bool(2), float16(1), int32(2), object(9)
memory usage: 1.5+ MB

In [ ]:
# Assignment 4
# Columns containing NOMINAL categorical data must be stored as the category data type.
# Relevant columns are columns with no inherent rank or hierarchy; city, gender, enrolled_university, major_discipline, company_type


# (For some ML Models, such as an ATS, major_discipline could count as ordinal)

nominal_columns = ['city', 'gender', 'major_discipline', 'company_type']
ds_jobs_transformed[nominal_columns] = ds_jobs_transformed[nominal_columns].astype('category')

ds_jobs_transformed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   student_id              19158 non-null  int32
 1   city                    19158 non-null  category
 2   city_development_index  19158 non-null  float16
 3   gender                  14650 non-null  category
 4   relevant_experience     19158 non-null  bool
 5   enrolled_university     18772 non-null  object
 6   education_level         18698 non-null  object
 7   major_discipline        16345 non-null  category
 8   experience              19093 non-null  object
 9   company_size            13220 non-null  object
 10  company_type            13018 non-null  category
 11  last_new_job            18735 non-null  object
 12  training_hours          19158 non-null  int32
 13  job_change              19158 non-null  bool
dtypes: bool(2), category(4), float16(1), int32(2), object(5)
memory usage: 1.0+ MB

In [ ]:
# Assignment 5
# Columns containing ordinal categorical data must be stored as ordered categories, and not mapped to numerical values, with an order that reflects the natural order of the column.
# Relevant columns are columns with logical sequence; education_level, experience, company_size, last_new_job
ordinal_mapping = {
    'education_level': ['Primary School', 'High School', 'Graduate', 'Masters', 'Phd'],
    'experience': ['<1'] + [str(i) for i in range(1, 21)] + ['>20'],
    'company_size': ['<10', '10-49', '50-99', '100-499', '500-999', '1000-4999', '5000-9999', '10000+'],
    'last_new_job': ['never', '1', '2', '3', '4', '>4'],
    'enrolled_university': ['no_enrollment', 'Part time course', 'Full time course']
}

for col, order in ordinal_mapping.items():
    ds_jobs_transformed[col] = pd.Categorical(
        ds_jobs_transformed[col],
        categories=order,
        ordered=True
    )

ds_jobs_transformed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   student_id              19158 non-null  int32
 1   city                    19158 non-null  category
 2   city_development_index  19158 non-null  float16
 3   gender                  14650 non-null  category
 4   relevant_experience     19158 non-null  bool
 5   enrolled_university     18772 non-null  category
 6   education_level         18698 non-null  category
 7   major_discipline        16345 non-null  category
 8   experience              19093 non-null  category
 9   company_size            13220 non-null  category
 10  company_type            13018 non-null  category
 11  last_new_job            18735 non-null  category
 12  training_hours          19158 non-null  int32
 13  job_change              19158 non-null  bool
dtypes: bool(2), category(9), float16(1), int32(2)
memory usage: 400.2 KB

In [ ]:
# Assignment 6
# The DataFrame should be filtered to only contain students with 10 or more years of experience at companies with at least 1000 employees, as their recruiter base is suited to more experienced professionals at enterprise companies.

exp_condition = ds_jobs_transformed['experience'] >= '10'
size_condition = ds_jobs_transformed['company_size'] >= '1000-4999'

# 2. Use those conditions to select specific ROWS from the DataFrame
ds_jobs_transformed = ds_jobs_transformed[exp_condition & size_condition]

# 3. Check the results
ds_jobs_transformed.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2201 entries, 9 to 19143
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   student_id              2201 non-null   int32
 1   city                    2201 non-null   category
 2   city_development_index  2201 non-null   float16
 3   gender                  1821 non-null   category
 4   relevant_experience     2201 non-null   bool
 5   enrolled_university     2185 non-null   category
 6   education_level         2184 non-null   category
 7   major_discipline        2097 non-null   category
 8   experience              2201 non-null   category
 9   company_size            2201 non-null   category
 10  company_type            2144 non-null   category
 11  last_new_job            2184 non-null   category
 12  training_hours          2201 non-null   int32
 13  job_change              2201 non-null   bool
dtypes: bool(2), category(9), float16(1), int32(2)
memory usage: 69.5 KB

In [ ]:
# Final DataFrame
ds_jobs_transformed.head(25)

/usr/local/lib/python3.12/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: overflow encountered in cast
  has_large_values = (abs_vals > 1e6).any()

,student_id,city,city_development_index,gender,relevant_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,job_change
9,699,city_103,0.919922,NaN,True,no_enrollment,Graduate,STEM,17,10000+,Pvt Ltd,>4,123,False
12,25619,city_61,0.913086,Male,True,no_enrollment,Graduate,STEM,>20,1000-4999,Pvt Ltd,3,23,False
31,22293,city_103,0.919922,Male,True,Part time course,Graduate,STEM,19,5000-9999,Pvt Ltd,>4,141,False
34,26494,city_16,0.910156,Male,True,no_enrollment,Graduate,Business Degree,12,5000-9999,Pvt Ltd,3,145,False
40,2547,city_114,0.925781,Female,True,Full time course,Masters,STEM,16,1000-4999,Public Sector,2,14,False
47,25987,city_103,0.919922,Other,True,no_enrollment,Graduate,STEM,19,10000+,Public Sector,4,52,True
104,1180,city_16,0.910156,Male,True,no_enrollment,Graduate,STEM,12,5000-9999,Pvt Ltd,1,52,False
108,25349,city_16,0.910156,Male,True,no_enrollment,Graduate,STEM,>20,1000-4999,Pvt Ltd,>4,28,False
115,20576,city_97,0.924805,Male,True,no_enrollment,Graduate,STEM,>20,1000-4999,Pvt Ltd,>4,19,False
130,3921,city_36,0.893066,NaN,True,no_enrollment,Phd,STEM,>20,1000-4999,Public Sector,>4,4,False
144,24796,city_103,0.919922,Male,True,no_enrollment,Graduate,STEM,>20,5000-9999,Pvt Ltd,>4,15,False
146,22718,city_157,0.769043,NaN,True,no_enrollment,Graduate,No Major,14,10000+,NaN,>4,47,False
154,12154,city_16,0.910156,NaN,True,no_enrollment,Masters,Arts,>20,1000-4999,NGO,>4,55,False
157,28817,city_89,0.924805,Male,True,Full time course,Graduate,STEM,14,5000-9999,Pvt Ltd,3,141,True
159,7280,city_103,0.919922,Male,True,no_enrollment,Graduate,STEM,13,10000+,Pvt Ltd,1,6,False
160,16903,city_103,0.919922,Male,True,no_enrollment,Graduate,No Major,17,5000-9999,Pvt Ltd,1,125,False
165,32092,city_103,0.919922,Female,True,no_enrollment,Masters,STEM,15,10000+,Pvt Ltd,>4,55,False
169,29497,city_103,0.919922,Male,True,no_enrollment,Masters,STEM,>20,10000+,Public Sector,>4,87,True
175,3728,city_103,0.919922,Male,True,no_enrollment,Masters,STEM,>20,5000-9999,Pvt Ltd,4,13,False
190,26099,city_103,0.919922,Male,True,no_enrollment,Graduate,STEM,12,10000+,Pvt Ltd,1,60,False
216,31602,city_103,0.919922,Male,True,no_enrollment,Masters,STEM,>20,10000+,Pvt Ltd,1,7,False
218,16814,city_16,0.910156,Male,True,no_enrollment,Graduate,STEM,>20,10000+,Pvt Ltd,>4,62,False
222,20881,city_28,0.938965,Male,True,no_enrollment,Masters,STEM,10,1000-4999,Pvt Ltd,1,114,False
237,33050,city_165,0.902832,NaN,True,no_enrollment,Graduate,STEM,17,10000+,Pvt Ltd,2,12,False
251,28838,city_103,0.919922,Male,True,no_enrollment,Graduate,STEM,>20,1000-4999,NGO,>4,74,False